<header>
    <nav>
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="lien-icone">
            <img src="../../assets/images/logo.png" alt="Logo Robbie Lens" />
        </a>
        <div>
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
            <a routerLink="apropos" routerLinkActive="active">A propos</a>
            <a routerLink="portfolio" routerLinkActive="active">Portfolio</a>
        </div>
    </nav>
</header>