.carre-contenu {
    border: 1px solid #8e86b5;
    padding: 50px;
    width: 50%;
    margin: auto;
    margin-bottom: 80px;
    + {
      div {
        text-align: center;
      }
    }
  }
  
  .entete {
    text-align: center;  }