<section class="portfolio-section-photos">
    <h2>Paysages</h2>
    <div class="col-lg-3 col-md-6 col-sm-12 border m-3 face-snap-card"
        *ngFor="let item of Landscapes">
        <img alt="" [lazyLoad]="item.src.original" class="lazy-loading" />
        <p>{{item.alt}}</p>
    </div>
    <h2 class="mrg-top-50">Portraits</h2>
    <div class="col-lg-3 col-md-6 col-sm-12 border m-3 face-snap-card portrait"
        *ngFor="let item of Portrayal">
        <img alt="" [lazyLoad]="item.src.original" class="lazy-loading" />
        <p>{{item.alt}}</p>
    </div>
</section>
