<div>
    <section class="accueil-introduction">
        <div>
            <h1>Robbie Lens Photographie</h1>
            <p>
                Où <em>professionalisme</em> s’allie avec <em>passion</em>. Depuis
                plus de 5 ans maintenant, j’exerce mon métier avec la passion
                qui m’anime : capturer l’essence de chaque instant.
            </p>
            <a href="#contact" class="cta">UN PROJET ? ÉCRIVEZ-MOI</a>
        </div>
        <img src="../../assets/images/robbie-lens.png" alt="Portrait avec effet de la photographe Robbie Lens" />
    </section>
</div>
<div class="landing-block">
    <app-contact-form></app-contact-form>
</div>